{% extends "main/base.html" %}
{% block content %}
<table class='table'>
  <thead>
    <tr>
      <th scope="col"><h3>Item</h3></th>
      <th scope="col"><h3>Price</h3></th>
      <th scope="col"><h3>Quantity</h3></th>
    </tr>
  </thead>
  <tfoot>
    <td></td>
    <td></td>
    <td><p>Total: £{{ basket.total }}</p></td>
  </tfoot>
  <tbody>
    {% for item in basket.basketitem_set.all %}
      <td><p>{{ item.product }}</p></td>
      <td><p>£{{ item.product.price }}</p></td>
      <td><p>{{ item.quantity }}</p></td>
      <td><a href='{% url "update_basket" item.product.slug %}?qty=0'>Remove</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}